<br>
<app-header [content]="pageContent.header"  id="scrollthis"></app-header>

<table class="table table-striped mt-5 mb-5 container ">
    <tbody class="mb-5">
        <tr>
            <th scope="row">Movie Name </th>
            <td>{{newMovie.name}}</td>
        </tr>
        <tr>
            <th scope="row">Director</th>
            <td>{{newMovie.director}}</td>
        </tr>
        <tr>
            <th scope="row">Actor Name</th>
            <td>{{newMovie.actor.name}}</td>
        </tr>
        <tr>
            <th scope="row">Actor Age</th>
            <td>{{newMovie.actor.age}}</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>{{newMovie.actor.status}}</td>
        </tr>
        <tr>
            <th scope="row">Rating</th>
            <td>{{newMovie.rating}}</td>
        </tr>
        <tr>
            <th scope="row">Release Date</th>
            <td>{{newMovie.release_date}}</td>
        </tr>
    </tbody>
    <button class="m-3 btn btn-danger" (click)="onDelete(newMovie._id)">Delete</button>
    <button class="m-3 btn btn-secondary" (click)="scroll('scrollintoview')">Update</button>
  </table>
<div  id="scrollintoview" style="display: none;">
  <h1 class="text-center m-3">update Movie </h1>
  <form  class="container" >
    <span class="text-danger">Fields marked with (*) are required</span>
    <div class="form-group ">
       
        <input class="form-control" type="hidden" #_id="ngModel" [(ngModel)]="newMovie._id" id="name" name="name" required>
        </div>
    <div class="form-group ">
    <label class="required" for="name">Movie Name</label>
    <input class="form-control" #name="ngModel" [(ngModel)]="newMovie.name" id="name" name="name" required>
    </div>
   
    <div class="form-group">
    <label class="required" for="director">Director Name</label>
    <input class="form-control" #director="ngModel" [(ngModel)]="newMovie.director" id="director" name="director" required>
        </div>

    <div class="form-group">
    <label for="actorName">Actor Name</label>
    <input class="form-control" #actorName="ngModel" [(ngModel)]="newMovie.actor.name" id="actorName" name="actorName" >
        </div>

        <div class="form-group">
    <label for="actorAge">Actor Age</label>
    <input type="number" class="form-control" #actorAge="ngModel" [(ngModel)]="newMovie.actor.age" id="actorAge" name="actorAge" >
            </div>
    
    <div class="form-group">
    <label for="actorStatus">Actor Status</label>
    <input class="form-control" #actorStatus="ngModel" [(ngModel)]="newMovie.actor.status" id="actorStatus" name="actorStatus" >
    </div>

    <div class="form-group">
    <label for="rating">Rating</label>
    <input class="form-control" #rating="ngModel" [(ngModel)]="newMovie.rating" type="number" id="rating" name="rating" required min="0" max="5">
        </div>
   
        <div class="form-group">
    <label class="required" for="release_date">Release Date</label>
    <input class="form-control" #release_date="ngModel" [(ngModel)]="newMovie.release_date" type="date" id="release_date" name="release_date" required>   
    </div>

    <button class="btn btn-success col-md-12" (click)="updateMovie(newMovie)">update</button>
</form>
 </div>
 