
<app-header [content]="pageContent.header"></app-header>

<img src="../../assets/img.jpg" width="100%" height="400" alt="movies"/>
<div class="container-fluid">
<br>
<div>
    <div class="text-center">
      <div>
        <h1>Our Services</h1>
        <h4>Here you can watch or buy thousand of listed movies.</h4>
      </div>
      <h6>We try to post the latest movies as soon as posible after the release date so that you can buy the movie on the go.In terms of the quality of the movie One can find same movie in different resolutions.We provide movies in many different languages such as English,hindi,french etc so that user can watch them in their prefered language.Besides this we also provide the subtitles with our movies.<br></h6>
    </div>
  </div>
  </div>
