extends layout

block content
  h1.text-center= title
  img(src='/images/img2.jpg' width='100%' height='400' alt='movies')
  br
  div
  h4 WHO WE ARE 
  br
  h5 We are an awesome store staffed with smart people who care.
  br
  h5
    | Our store has a large selection of products at competitive prices. We take an honest approach to helping our customers, and providing them with the ultimate experience. We take music seriously&mldr;very seriously. We take pride in serving our customers with great products and stellar service. It&rsquo;s earned us a great deal of respect in both our community and the music industry at large.
  br
  h5
    | Deal with us long enough, and you&rsquo;ll quickly become a part of our family &mdash; it&rsquo;s not even a choice. We&rsquo;re here to share what we know, teach you how to master your skills, talk gear, repair your instruments, and offer you a place to belong. We&rsquo;ve been doing it for years, and it never ceases to be new, exciting, and fun.
  h5 Join us! You&rsquo;ll always be welcome here.
  br
  h4 You can Access us from following cities..
   ul.list-group.list-group-flush
    li Toronto 
    li Brampton
    li Waterloo 
    li Cambridge
  
  

