extends layout

block content
  div.text-center
   h1 Welcome to #{title}
   h5 Here you can watch the latest movies on the go.
  img(src='/public/images/img.jpg' width='100%' height='400' alt='movies')
  br
  div
      div.text-center
        div
          h1 Our Services
          h4 Here you can watch or buy thousand of listed movies.
        h5 We try to post the latest movies as soon as posible after the release date so that you can buy the movie on the go.In terms of the quality of the movie One can find same movie in different resolutions.We provide movies in many different languages such as English,hindi,french etc so that user can watch them in their prefered language.Besides this we also provide the subtitles with our movies.<br>
        
         