<!-- accessing header component by passing the page content -->
<app-header [content]="pageContent.header"></app-header>

<img src="../../assets/img2.jpg" width="100%" height="400" alt="movies"/> 
<div class="container-fluid">
  <h2 class="text-center m-3">WHO WE ARE </h2>
  <h6 class="text-center">We are an awesome store staffed with smart people who care.</h6><br/>
  <h6>Our store has a large selection of products at competitive prices. We take an honest approach to helping our customers, and providing them with the ultimate experience. We take music seriously&mldr;very seriously. We take pride in serving our customers with great products and stellar service. It&rsquo;s earned us a great deal of respect in both our community and the music industry at large.</h6><br/>
  <h6>Deal with us long enough, and you&rsquo;ll quickly become a part of our family &mdash; it&rsquo;s not even a choice. We&rsquo;re here to share what we know, teach you how to master your skills, talk gear, repair your instruments, and offer you a place to belong. We&rsquo;ve been doing it for years, and it never ceases to be new, exciting, and fun.</h6>
  <h6>Join us! You&rsquo;ll always be welcome here.</h6><br/>
  <h4>You can Access us from following cities.. </h4>
    <ul class="list-group list-group-flush" style="list-style-type: none;">
      <li>Toronto </li>
      <li>Brampton</li>
      <li>Waterloo </li>
      <li>Cambridge</li>
    </ul>
 

</div>
